.container{
    width: 100px;
    height: 50vh;
}
.Nav{
    width: 100vw;
    height: 50px;
    margin-bottom: 10px;
}
img{
    height: 400px;
    width: 100px;
}
Carousel{
    height: 400px;
    width: 100px;
}