*{
    margin:0;
    padding:0;
    box-sizing: border-box;
}

#particles-js {
    background: black;
    height: 100vh;
}
img{
    width: 200px;
    height: 200px;
    position: absolute;
    animation: orbit 5s linear infinite;
}
img:hover{
    transform: scale(1.2);
}
.c{
    
    margin-left: 334px;
    height: 182px;
    margin-top: 0px;
}
.b{
   width:300px;
   height:300px;
    margin: 100px;
    margin-top: 234px;
    margin-top: 185px;
}
.d{
    
    margin-top:  492px;
    margin-left: 1041px;
}
.g{
    
    width: 300px;
    height: 300px;
    margin-left:  1029px;
    /* animation: orbit 5s linear infinite; */
}
.f{
    margin-left: 1223px;
    margin-top: 242px;
    /* animation: orbit1 5s linear infinite; */
}
.e{
    margin-top: -49px;
    margin-left: 674px;
    /* animation: orbit 5s linear infinite; */
}
.i{
    margin-top: 489px;
    margin-left: 334px;
}
/* @keyframes orbit {
    0%{
        transform:translateY(0) translateX(-50px);
        width:80px;
        height:80px;
    }
    50%{
        transform:translateY(0) translateX(50px) ;
        width:120px;
        height:120px;
    }
    100%{
        transform:translateY(0) translateX(-50px);
          width:80px;
          height:80px;
    }
   
  }
*/
  @keyframes orbit1 {
    from {
       transform: rotate(0deg) translateX(80px) rotate(0deg);
     }
     to {
       transform: rotate(360deg) translateX(80px) rotate(-360deg);
     }
    
   }


   /*second*/

   .animation-area{
    width: 100%;
    height: 100vh;
    background-size: cover;
    
}
.box-area{
    overflow: hidden;
    height: 100%;
    width: 100%;
    top: 0;
    left: 0;
    position: absolute;
}

.box-area li{
    position:absolute;
    display: block;
    list-style: none;
    width: 0px;
    height: 0px;
    background: rgba(255,255,255,0.2);
    animation: animate 22s linear infinite;
    bottom: -150px;

}
.box li{
    position:absolute;
    display: block;
    list-style: none;
    width: 0px;
    height: 0px;
    background: rgba(255,255,255,0.2);
    animation: animate1 25s linear infinite;
    top: -100px;

}
.box-area li:nth-child(1){
          left: 95%;
          /* width: 80px;
           height: 80px;*/
           animation-delay: 3s;
    
}
.box-area li:nth-child(2){
    left: 35%;
   /* width: 30px;
    height: 30px;*/
    animation-delay: 1.5s;
    
}
.box-area li:nth-child(3){
    left: 75%;
   /* width: 100px;
    height: 100px;*/
    animation-delay: 5.5s;
}
/*.box-area li:nth-child(4){
    left: 75%;
   /* width: 150px;
    height: 150px;
    animation-delay: 15s;
}
.box-area li:nth-child(5){
    left: 55%;
   /* width: 40px;
    height: 40px;
    animation-delay: 0s;
}
.box-area li:nth-child(6){
    left: 15%;
   /* width: 110px;
    height: 110px;
    animation-delay: 3.5s;
}*/
.box-area li:nth-child(7){
    left: 65%;
    /*width: 70px;
    height: 70px;*/
    animation-delay: 4s;
}
@keyframes animate {
    0%{
        transform: translateY(0) rotate(0deg);
        opacity: 1.5;
    }
   
    
   100%{
transform: translateY(-800px) rotate(360deg);
   opacity: 0.5;
   }
}
.box li:nth-child(1){
    left: 45%;
    /*width: 80px;
    height: 80px;*/
    animation-delay: 4.5s;
}
.box li:nth-child(2){
    left: 25%;
   /* width: 100px;
    height: 100px;*/
    animation-delay: 2s;
}
.box li:nth-child(3){
    left: 65%;
   /* width: 60px;
    height: 60px;*/
    animation-delay: 6s;
}
.box li:nth-child(4){
    left: 85%;
    /*width: 50px;
    height: 50px;*/
    animation-delay: 3.5s;
}
.box li:nth-child(5){
    left: 5%;
    /*width: 50px;
    height: 50px;*/
    animation-delay: 0s;
}
@keyframes animate1 {
    0%{
        transform: translateY(0px) rotate(360deg);
        opacity: 1.5;
    }
    
   100%{
transform: translateY(800px) rotate(0deg);
   opacity: 0.5;
   }
}
.sec{
    height:100px;
    width:100px;
}